<template>
  <v-row>
    <v-col class="text-center">
      <blockquote class="blockquote">
        <footer>
          <small>
          </small>
        </footer>
      </blockquote>
    </v-col>
  </v-row>
</template>
